<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    attr.role="dialog"
    mode="over"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.close()" routerLink="/">Home</a>
      <a mat-list-item (click)="drawer.close(); randomBreed()" target="_blank"
        >Random</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        onclick="this.blur()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </a>
      <a routerLink="/">
        <span>
          <div class="title">
            <h1>{{ title }}</h1>
          </div>
        </span>
      </a>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
