:host {
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  flex-shrink: 0;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  margin-left: 10px;
}

a {
  color: white;
  text-decoration: none;
  outline: none;
}
