mat-toolbar {
  display: flex;
  flex-direction: row;
  place-content: center space-between;
}

a {
  color: #eee;
  text-decoration: none;
  outline: none;
}

.title {
  height: 100%;
  padding: 10px;
}

.content-wrapper {
  max-width: 1280px;
  margin: 20px auto;
}

.content {
  padding: 0px 20px;
}
