.content-wrapper {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.content {
  width: 100%;
  max-width: 1280px;

  ::ng-deep > *:last-child {
    padding-bottom: 20px;
  }
}
