<app-search-input
  label="Choose a Breed"
  placeholder="ex. husky"
  (searchEvent)="filterBreeds($event)"
></app-search-input>
<div class="breed-search-results">
  <ng-container *ngIf="filteredBreeds$ | async as breeds; else indicator">
    <a
      [routerLink]="['/doggos', breed]"
      *ngFor="let breed of breeds"
      mat-raised-button
    >
      {{ breed | titlecase }}
    </a>
  </ng-container>
  <ng-template #indicator>
    <mat-spinner color="accent"></mat-spinner>
  </ng-template>
</div>
