:host {
  display: flex;
  place-items: center center;
  flex-direction: column;
}

app-search-input {
  margin-bottom: 30px;
}

.breed-search-results {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}
