:host {
  display: flex;
  place-items: center center;
  flex-direction: column;
}

app-search-input {
  margin-bottom: 30px;
}

.breed-search-results {
  display: grid;
  justify-content: center;
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 120px));
  gap: 10px;
}
