/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

app-root {
  position: fixed;
  width: 100%;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

input {
  padding: 10px;
}
