<div class="breed-select">
  <div class="breed-search-input">
    <mat-form-field>
      <mat-label>Choose a Breed</mat-label>
      <input
        matInput
        placeholder="Ex. Husky"
        #searchValue
        (input)="filterBreeds(searchValue.value)"
      />
    </mat-form-field>
  </div>
  <div class="breed-search-results">
    <a
      [routerLink]="['/doggos', breed]"
      *ngFor="let breed of filteredBreeds"
      mat-raised-button
    >
      {{ breed | titlecase }}
    </a>
  </div>
</div>
